*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin stopwatch($top, $left, $drop) {
    .logo-box{
        position: absolute;
        top: $top;
        left: $left;
        filter: drop-shadow($drop);
        .stopWatch {
            display: block;
            position: relative;
            height: 50px;
            width: 50px;
            border: 1px solid white;
            border-radius: 50%;
            background: white;
            margin-right: 5px;
            
            .push {
              position: absolute;
              height: 11px;
              width: 7px;
              background: white;
              left: 21px;
              top: -10px;
              &::before {
                content: '';
                display: block;
                background: white;
                height: 5px;
                width: 20px;
                transform: translateX(-6.5px);
              }
            }
            .side {
              position: absolute;
              height: 10px;
              width: 6px;
              background: white;
              left: 40px;
              top: 0px;
              transform: rotateZ(45deg);
            }
            .full-tick {
              position: absolute;
              top: 0px;
              left: 22px;
              width: 5px;
              height: 100%;
              animation: rotate360 10s infinite linear;
              clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
              background: linear-gradient(
                to bottom,
                white 10%,
                black 12%,
                black 50%,
                white 50%,
                white 100%
              );
            }
          }
    }
}

.main-page, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image:
    repeating-linear-gradient(#d2d2d2 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #d2d2d2 0 1px, transparent 1px 100%);
    background-size: 100px 60px;
    background-attachment: fixed;
}

.header{
    position: relative;
    height: 95%;
    background-image:linear-gradient(
        to right bottom, 
        rgba(111, 167, 213, 0.8), 
        rgba(40, 117, 180, 0.8)), 
        url(../../assets/graph.png);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0% 0%, 0% 100%, 32% 91%, 40% 92%, 53% 70%, 58% 77%, 77% 57%, 82% 64%, 100% 57%, 100% 0%);
    color: white;
    @include stopwatch(40px, 40px, 0);

    .text-box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .heading-primary{
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            .main{
                display: block;
                text-align: center;
                font-size: 60px;
                font-weight: 400;
                letter-spacing: 35px;
                margin-bottom: 10px;
                animation: moveInFromLeft 1s ease-out;
                text-shadow: .5rem 1rem 2rem rgb(0, 0, 0);
            }
            .sub{
                display: block;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 6.5px;
                animation: moveInFromRight 1s ease-out;
            }
        }
    }

    
    
}

.help-box{
    position: absolute;
    right: 200px;
    top: 50px;
}

.button{
    z-index: 99;
    mix-blend-mode: overlay;
    position: fixed;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 2px black;
    color: white;
    label{
        text-shadow: 1px 1px black;
        &:hover{
            text-shadow: none;
        }
    }
    *{
        &:hover{
            cursor: pointer;
            label{
                text-shadow: none;
            }
        }
    }

    &:hover{
        cursor: pointer;
        background: white;
        color: black;
        label{
            text-shadow: none;
        }
    }
    &:active{
        box-shadow: inset 1px 1px black;
        text-shadow: none;
    }
}

.app{
    position: fixed;
    right: 40px;
    top: 50px;
    
}


.about{
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255, 0.5);
    margin-top: -45vh;
    .content{
        margin-top: 50vh;
        text-align: center;
        .heading{
            font-size: 3.5rem;
            text-transform: uppercase;
            font-weight: 700;
            background-image: linear-gradient(to right, 
            rgba(111, 167, 213), 
            rgba(40, 117, 180));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        .cards{
            display: flex;
            justify-content: space-evenly;
            perspective: 100rem;
            -moz-perspective: 100rem;
            margin-top: 50px;
            .card{
                position: relative;
                height: 200px;
                width: 200px;
                transition: all 1s;
                transform-style: preserve-3d;
                box-shadow: 1px 10px 20px 5px rgb(0, 0, 0, 0.5);
                background-image: linear-gradient(to right, 
                            rgba(111, 167, 213), 
                            rgba(40, 117, 180));
                color: #fff;
                .front{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden; /* Safari */
                    backface-visibility: hidden;
                    
                    .head{
                        padding: 10px 5px;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: 5px;
                        font-size: 1.4rem;
                    }
                    .body{
                        padding: 10px 10px;
                    }
                }
                .back{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    flex: 1;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden; /* Safari */
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                    text-align: center;

                    a{
                        margin: auto;
                        text-decoration: none;
                        color: black;
                        padding: 10px;
                        text-shadow: 1px 1px black;
                        letter-spacing: 2px;

                        &:hover{
                            background-image: linear-gradient(to right, 
                            rgba(111, 167, 213), 
                            rgba(40, 117, 180));
                            color: white;
                            border-radius: 20px;
                            text-decoration: none;
                        }
                    }
                }
                &:hover{
                    cursor: pointer;
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

.footer{
    height: 300px;
    width: 100%;
    margin-top: -20vh;
    background-image: linear-gradient(to right bottom, 
    rgba(111, 167, 213, 0.8), 
    rgba(40, 117, 180, 0.8));
    position: relative;
    .main{
        position: relative;
        margin: auto;
        width: 100%;
        @include stopwatch(20px,48%, 6px 10px 5px rgb(0, 0, 0));
        .app-name{
            color: #fff;
            text-align: center;
            font-weight: 800;
            letter-spacing: 15px;
            font-size: 2rem;
            position: absolute;
            top: 90px;
            left: 42.5%;
            text-transform: uppercase;
            text-shadow: 6px 10px black;
        }
        
    }
    .author{
        position: absolute;
        text-align: left;
        right: 50px;
        bottom: 0;
        height: 30%;
        width: 20%;
        color: white;
        border-top: 1px solid white;
        .info{
            margin: 10px 0;
            height: 100%;
        }
    }
    .links{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 50%;
        width: 40%;
    }
}

@keyframes moveInFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(20px) skewX(-10deg);
    }

    100%{
        opacity: 1;
        transform: translateX(0) skewX(0deg);

    }
}

@keyframes moveInFromRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(20px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotate360 {
    0%{
        transform: rotateZ(0deg);
    }

    50%{
        transform: rotateZ(180deg);
    }

    100%{
        transform: rotateZ(360deg);
    }
}